<html lang="en" >
	<head>
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
		<script src="player.js"></script>
		<link rel="stylesheet" href="styles.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>

	<body ng-app="player" ng-controller="AddMenu" layout="column">
		<md-toolbar>
			<div class="md-toolbar-tools" layout="row">
				<md-button hide-gt-xs class="md-icon-button" ng-click="openSideNav()" aria-label="Add to Queue">
					<md-icon class="material-icons">playlist_add</md-icon>
				</md-button>
				<h1 class="md-flex">HeyJuke</h1>
			</div>
		</md-toolbar>

		<md-content flex  layout="row">
		    <md-sidenav flex
		    	class="md-sidenav-left"
		    	md-component-id="left"
		    	md-is-locked-open="$mdMedia('gt-xs')">
		    	<h1 class="md-toolbar-tools">Add Song</h1>
		    	<md-button ng-click="browseFiles()">
		    		Add From File
		    	</md-button>
		    </md-sidenav>

		    <md-content flex ng-controller="Queue" layout="column">
				<ng-include src="'songPartial.html'" ng-repeat="x in [nowPlaying]"></ng-include>
				<md-progress-linear md-mode="determinate" value="{{progress}}"></md-progress-linear>

				<md-content flex class="main-content" layout="column">
					
					<ng-include src="'songPartial.html'" ng-repeat="x in queue"></ng-include>

				<md-content>
			<md-content>
		<md-content>

	</body>
</html>