<html lang="en" >
	<head>
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
		<script src="player.js"></script>
		<link rel="stylesheet" href="styles.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>

	<body ng-app="player" ng-controller="AddMenu" layout="column">
		<md-toolbar>
			<div class="md-toolbar-tools" layout="row">
				<md-button hide-gt-xs class="md-icon-button" ng-click="openSideNav()" aria-label="Add to Queue">
					<md-icon class="material-icons">playlist_add</md-icon>
				</md-button>
				<h1 class="md-flex">HeyJuke</h1>
			</div>
		</md-toolbar>

		<md-content flex  layout="row">
		    <md-sidenav 
		    	flex="33"
		    	class="md-sidenav-left"
		    	md-component-id="add"
		    	md-is-locked-open="$mdMedia('gt-xs')"
		    	layout="column"
		    	layout-align="start start">
		    	<md-button layout-margin ng-click="openUpload()">
					<md-icon class="material-icons md-primary md-hue-1">file_upload</md-icon>
		    		Upload Song
		    	</md-button>

		    	<md-button layout-margin ng-click="browseFiles()">
					<md-icon class="material-icons md-primary md-hue-1">memory</md-icon>
		    		Add From Local
		    	</md-button>

		    	<md-button layout-margin>
					<md-icon class="material-icons md-primary md-hue-1">cloud_queue</md-icon>
		    		Add From Web
		    	</md-button>
		    </md-sidenav>

			<md-sidenav
		    	flex="33"
		    	class="md-sidenav-left"
		    	md-component-id="fromLocal"
		    	layout="column"
		    	layout-align="start start">
		    	<div layout="row" layout-align="center-center">
			    	<md-menu>
						<md-button class="md-icon-button" ng-click="openQueryMenu($mdOpenMenu, $event)">
							<md-icon class="material-icons md-primary md-hue-2">{{currentSearch}}</md-icon>
						</md-button>
			    		<md-menu-content>
			    			<md-menu-item>
			    				<md-button ng-click="currentSearch='queue_music';">
									<md-icon class="material-icons">queue_music</md-icon>
									Track Name
								</md-button>
							</md-menu-item>
			    			<md-menu-item>
			    				<md-button ng-click="currentSearch='account_circle'">
									<md-icon class="material-icons">account_circle</md-icon>
									Artist
								</md-button>
							</md-menu-item>
			    			<md-menu-item>
			    				<md-button ng-click="currentSearch='album'">
									<md-icon class="material-icons">album</md-icon>
									Album
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>

			    	<md-input-container id="query-search">
			    		<label> Search </label>
			    		<input aria-label="Search">
			    	</md-input-container>

					<md-button class="md-icon-button" ng-click="">
						<md-icon class="material-icons md-primary md-hue-2">search</md-icon>
					</md-button>
			    </div>

			    <div class="md-hue-1" layout="column">
		    		<ng-include src="'songButtonPartial.html'" ng-repeat="x in library" flex></ng-include>
				</div>
		    </md-sidenav>

			<md-sidenav
		    	flex="33"
		    	class="md-sidenav-left"
		    	md-component-id="upload"
		    	layout="column"
		    	layout-align="start start">

		    	<input type="file" file-model="fileToUpload" layout-margin>
		    	<span layout="row">
			    	<md-button layout-margin ng-disabled="uploading" class="md-raised" ng-click= "uploadFile()">Upload File</md-button>
			    	<md-progress-circular ng-if="uploading" md-mode="indeterminate"></md-progress-circular>
			    </span>

			    <span layout-margin>
				    {{message}}
				</span>
		    </md-sidenav>



		    <md-content ng-controller="Queue" layout="column" class="md-hue-1" flex>

				<ng-include src="'songPartial.html'" ng-repeat="x in [nowPlaying]"></ng-include>

				<md-content flex class="main-content md-hue-1" layout="column">
					
					<ng-include src="'songPartial.html'" ng-repeat="x in queue"></ng-include>

				<md-content>
			<md-content>
		<md-content>

	</body>
</html>