<div style="display: block; flex: 1 0 auto !important;" ng-if="x.title">
	<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
		<md-card-title>
	 		<md-card-title-text>
				<span class="md-headline">{{x.title}}</span>
				<span class="md-subhead">{{x.artist}}</span>
	 		</md-card-title-text>
		 		<md-card-title-media>
					<img ng-src="{{imagePath}}" class="md-media-md card-media" alt="{{x.album}}">
		 		</md-card-title-media>
			</md-card-title>

			<md-progress-linear md-mode="determinate" value="{{progress}}" ng-if="x.nowPlaying"></md-progress-linear>
	</md-card>
</div>
<div style="display: block; flex: 1 0 auto !important;" ng-if="x.title == null">
	<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
		<md-card-title>
	 		<md-card-title-text>
				<span class="md-headline">Queue is Empty</span>
	 		</md-card-title-text>
	</md-card>
</div>